.car__entities {
    background: $white;
    box-shadow: 0px 3.5px 35px rgba(90, 97, 105, 0.1), 0px 5px 5px rgba(90, 97, 105, 0.06), 0px 2px 4px rgba(90, 97, 105, 0.12), 0px 1px 0px rgba(90, 97, 105, 0.11);
    border-radius: 9px;
    max-width: 1062px;
    width: 100%;
    margin-top: 30px;
}

.item-entites__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-entites__choose {
    padding: 15px 21.5px;
}

#inputGroupSelect1 {
    border: 0.5px solid #BECAD6;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.345714px;
    color: #868E96;
    height: 29px;
    width: 110px;
    flex: none;
}

#inputGroupSelect2 {
    border: 0.5px solid #BECAD6;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.345714px;
    color: #868E96;
    height: 29px;
    width: 110px;
    flex: none;
    margin-left: 15px;
}

#inputGroupSelect3 {
    border: 0.5px solid #BECAD6;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.345714px;
    color: #868E96;
    height: 29px;
    width: 110px;
    flex: none;
    margin-left: 15px;
}

#inputGroupSelect4 {
    border: 0.5px solid #BECAD6;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.345714px;
    color: #868E96;
    height: 29px;
    width: 110px;
    flex: none;
    margin-left: 15px;
}

.item-entities__button {
    display: flex;
}

.item-entities__reset {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.345714px;
    color: $white;
    width: 95px;
    height: 29px;
}

.item-entities__apply {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.345714px;
    color: $white;
    width: 95px;
    height: 29px;
    margin-left: 15px;
    margin-right: 15px;
}

.item-entities__table {
    padding: 0 21.5px;
}

.item-entities__thead {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.377143px;
    color: #3D5170;
}

.item-entities__tbody {
    td:first-child {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.377143px;
        color: #3D5170;
    }
    td {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.377143px;
        color: #818EA3;
        font-family: Roboto;
    }
}

.item-entities__pagination {
    padding: 56.5px 0 21.5px 0;
}

.page-link {
    border: none;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.471429px;
    border-radius: 50%;
}

