.error__main {
    text-align: center;
    padding: 350px;
}

.error-cod {
    font-weight: 500;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: -5.76923px;
    color: #CACEDB;
    font-family: Roboto;
    margin-bottom: 13px;
}

.error-title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -2.5px;
    color: #3D5170;
}

.error-subtitle {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #818EA3;
}

.error-btn-control {
    width: 95px;
    height: 29px;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.345714px;
    color: #FFFFFF;
}