$primary-color: #0EC261;
$primary-color-dark: #121212;
$color-grey-dark: #999999;
$color-grey-light: #EEEEEE;

$white: #ffffff;
$green-dark: #13493F;
$green: #0C7B1B;
$blue-dark: #132949;
$sea-wave: #0C7B67;
$brown: #493013;
$rose: #7B0C3B;
$purple-dark: #281349;
$purple: #720C7B;
$green-light-order: #0ec261;
$sea-wave-light-order: #039f67;

$gray: #F5F6F8;
$navy: #3D5170;
$gray-dark: #495057;
$gray-light: #BECAD6;
$blue-light: #007BFF;

$admin-bcg: $gray;